<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <header class="card" id="header">
      <%- include('includes/header') %>
      </header>
      <main>
        <section>
          <div id="h1" >
            <h1 id="todo"></h1>
          </div>
                </section>

        <section>
          <div id="div3">
              <p id="h3">Sign up couldn't succeed!</p>
              <h2 id="h3">Please add all fields.</h2>
          </div>
          <a href="/signup" id="btn2">Back to sign up</a>
        </section>
    </main>
  </body>
</html>
