<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
    </head>
    <body>
        <header class="card" id="header">
            <%- include('includes/header') %>
        </header>
        <main>
            <section>
                <div id="d"></div>
            </section>

            <section>
                <div id="div3">
                    <p id="h3">Welcome to my to-do list website</p>
                    <h2 id="h3">
                        Please create an account or log in to start listing your
                        todos
                    </h2>
                </div>
            </section>
        </main>
    </body>
</html>
